*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f7fa;
    color:#333;
}

header{
    background:#0d47a1;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    position:sticky;
    top:0;
}

.logo h1{
    font-size:30px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:17px;
    transition:0.3s;
}

nav ul li a:hover{
    color:#FFD54F;
}

.hero{
    height:80vh;
    background:linear-gradient(rgba(13,71,161,0.7),rgba(13,71,161,0.7)),
    url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?w=1600") center/cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding:20px;
}

.hero h2{
    font-size:52px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    margin:10px 0;
    max-width:850px;
}

.btn{
    margin-top:30px;
    padding:15px 35px;
    background:#FFD54F;
    color:#000;
    text-decoration:none;
    font-weight:bold;
    border-radius:8px;
    transition:.3s;
}

.btn:hover{
    background:white;
}

.features{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:70px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:320px;
    padding:30px;
    border-radius:12px;
    box-shadow:0 10px 20px rgba(0,0,0,.15);
    text-align:center;
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    color:#0d47a1;
    margin-bottom:15px;
}

.card p{
    line-height:1.6;
}

footer{
    background:#0d47a1;
    color:white;
    text-align:center;
    padding:25px;
}

@media(max-width:900px){

header{
    flex-direction:column;
}

nav ul{
    flex-wrap:wrap;
    justify-content:center;
    margin-top:15px;
}

.hero h2{
    font-size:38px;
}

.hero p{
    font-size:18px;
}

.features{
    padding:30px;
}

}

input:focus,
select:focus,
textarea:focus{

outline:none;
border:2px solid #0d47a1;

}

button{
transition:.3s;
}

button:hover{
transform:scale(1.02);
}

.checkbox-group{
display:flex;
align-items:center;
gap:10px;
margin:20px 0;
}

.checkbox-group input{
width:auto;
margin:0;
transform:scale(1.2);
cursor:pointer;
}

.checkbox-group label{
margin:0;
font-weight:normal;
cursor:pointer;
}